body {
  background-color: #f9f9f9;
}

a, a:hover {
  color: white !important;
}

p, h5, h3, label {
  color: #024458!important
}

button, a.btn {
  color: #212121 !important;
}

.bg-color-nav {
  background-color: #044a5f;
  margin-bottom: 1.5em;
}

.logo {
  font-size : 20px;
  font-weight: 700;
}

/* Games et DetailsGames */
.widthGames {
  width: 300px;
  height: 200px;
}

.widthDetailsGames {
  width: 500px;
  height: 400px;
}

.cropped {
  object-fit: cover;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.titleGames, h3 {
  text-align: center;
}

.platform {
  font-size: 15px;
  font-style: italic;
}

h3 {
  padding : 15px 0;
}

.mywidth {
  max-width: 70%;
}

.table td, .table th {
  font-weight: 400;
}